page-addevent {
   ion-item ion-label{
        color:#0404B4; 
   }
   ion-header {
    background-color: green;
    color: white;
   }
   button {
       font-size: 2em;
   }

}
.hide {
  display: none;
}
