page-reset-password {
    
}
#requestInfo {
    border-bottom: 2px, solid, black;    
    padding: 4px;
    background-color: #F0F0F0 ;
    margin-bottom: 15px;
    line-height: 24px;
}
.page-title {
    color:#0404B4;
    font-size: 1.4em;
    padding-left: 10px;    
}
.form-title {
    color:#0404B4;
    font-size: 1.4em;
    padding-left: 10px;
    text-decoration: underline;
}
#passwordForm {
    border: 3px solid #26D02F;
    border-radius: 3%;
    
    ion-label { 
        color:darkblue; 
        padding-bottom: 6px;
    }

    ion-input {
     margin-bottom: -10px;
     
    }
    button {
        font-size: 2em; 
    }
}