.reminder-list {

}
ion-header {
    background-color: green;
    color: white;
}
.header-item {
    text-transform: capitalize;
    padding-right: 15px;
}
.page-title {
    color:#0404B4;
    font-size: 1.4em;
}
.r-subheading {
    font-size: 12px;
    text-align: right;
    
}
.btnDel {
    color: darkred;
}
.title {
     color:#0404B4; 
}
.evSummary {
    color: #080807;
}
.rList {
    background-color: #32db64;
}
.list-icon {
    color: mediumseagreen;
}
.radioInline {  
    display: inline;
    font-size: .8em;
}
.info {
    font-size: 1em;
    color: darkred;
    
}
.categories {
    background-color: lightgrey;
    padding: 5px;
    color: #0404B4;
    
}
.marker {
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}
.dividerLine {
    background-color: cadetblue;
    font-weight: bold;
    font-size:1.2em;
    
}


   
